@{
    Layout = "_AdminLayout";
}

<form class="row g-3 mb-1" method="post" action="/Admin/AddCategory" autocomplete="off">
    <label for="CategoryName">Kategori Adı</label>
    <input type="text" class="form-control" style="background-color: white" name="CategoryName" required placeholder="Kategori Adı" />
    <button class="btn btn-primary">Ekle</button>

</form>
