@model List<MenuModel>

@{
    Layout = "_AdminLayout";
}
<table class="table">
    <thead>
        <tr>
            <th scope="col" width="20%">Kategori Id</th>
            <th scope="col" width="20%">Kategori</th>
            <th scope="col" width="20%">#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.CategoryName</td>
                <td>
                    <a href="/admin/EditCategory/@category.Id" class="btn btn-primary">Düzenle</a>
                    <a href="/admin/DeleteCategory/@category.Id" onclick="return confirm('Emin misin?')" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>